<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70342206073-j21jdjqg21cqonp6q4v0q2jvolfa9fvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70342206073-j21jdjqg21cqonp6q4v0q2jvolfa9fvv</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ZvzsBNL-4l8B_qZFTaBEiS3J9xhc5gY</string>
	<key>GCM_SENDER_ID</key>
	<string>70342206073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuberans</string>
	<key>PROJECT_ID</key>
	<string>kuberans-943ee</string>
	<key>STORAGE_BUCKET</key>
	<string>kuberans-943ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70342206073:ios:248e81e826d1e0b8dc2aa8</string>
</dict>
</plist>